
* {
    box-sizing: border-box;
}
html {
    font-size: 18px;
    margin: 0;
}
body {
    text-align: center;
    margin: 0;
}
:root {
    --color-bg: #fff;
    --color-dark: #072D4D;
    --color-yellow: #FFB747;
    --color-light-blue: #61B8FF;
}
h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 3.2rem;
    color: var(--color-yellow);
}
h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 3rem;
    color: var(--color-dark);
}
h3, figcaption {
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
}
p {
    font-family: 'Roboto Slab', serif;
    font-size: 1.5rem;
}
li {
    font-size: 1.6rem;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
.header-content ul {
    list-style: none;
}
.header-content li {
    display: inline-block;
    padding: 10px 10px;
}
.header-content a {
    text-decoration: none;
    color: var(--color-dark);
}
.header-content a:hover {
    text-decoration: underline;
}
.header-nav-desktop {
    display: block;
}
.header-nav-mobile {
    display: none;
}

.header-hero {
    display: flex;
    background-image: url('../images/header-pic.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 350px;
    align-items: flex-end;
    justify-content: center;
}
.header-hero .content{
    display:block;
    width: 100%;
    line-height: 1rem;
    padding: 0 2rem 2rem 2rem;
}
.header-hero p {
    color: var(--color-bg);
    font-size: 1.4rem;
}
.services-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 4rem 5%;
}
.services-item {
    flex: 1;
    padding: 0 2rem 0 2rem;
    margin: 0 1.25rem;
}
.services-item img {
    max-width: 300px;
    height: auto;
    padding: 0.55rem;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    box-shadow: 2px 4px 5px 2px rgb(58 58 58 / 30%);
}
.services-item>figcaption {
    display: block;
    font-weight: bold;
    text-align: center;
    margin-top: 1rem;
}

#team {
    background-color: var(--color-yellow);
    padding-top: 2rem;
    color: var(--color-bg);
}
#team h2 {
    color: var(--color-bg);
}
.team-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 1rem;
}
.team-item {
    flex: 1;

}
.team-item img {
    max-width: 300px;
    height: auto;
}

footer {
    background-color: var(--color-light-blue);
    padding: 0.5rem 0;
    color: var(--color-bg);
}
footer h2 {
    display: block;
    color: var(--color-bg);
}
footer p {
    display: flex;
    flex: 1;
    justify-content: center;
    line-height: 1rem;
}
@media only screen and (max-width: 750px){
    .header-hero {
        background-image: none;
        background-color:#072D4D;
        align-items: center;
    }

}
@media only screen and (max-width: 515px){
    .header-nav-mobile {
    display: block;
    
    }
    .header-nav-desktop {
        display:none;
    }
}
